/* stili centralizzati riutilizzati in più punti della page */

:root{
    --primary-color: #0084fd;
    --lighter-primary-color: #b5ddff;
    --secondary-color: #9792e4;
    --main-space: 32px;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-container{
    padding: 0 calc((var(--main-space)) / 2);
}

section{
    margin-top: var(--main-space);
    margin-bottom: var(--main-space);
}

.row{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px dashed red; */
    margin: 0 calc(-1 * ((var(--main-space)) / 4));
}

.col{
    /* min-height: 200px; */
    flex-basis: 100%;
    padding: calc(var(--main-space) / 4);
}

.col-content{
    padding: calc(var(--main-space) / 2);
    /* min-height: 200px; */
    /* border: 1px dashed blue; */
    border-radius: 25px;
    padding-bottom: var(--main-space);
    /* text-align: center; */
}


.border-radius{
    border-radius: 15px;
}
.d-flex{
    display: flex;
}

.col.d-flex{
    flex-direction: column;
    align-items: center;
    margin: calc(var(--main-space) / 4) 0;
}

.btn{
    border: none;
    padding: 8px var(--main-space);
}

.bg-lightblue h4{
    color: var(--primary-color);
}
p{
    margin: calc((var(--main-space)) / 2) 0;
}
p,li{
    font-size: 13px;
    line-height: 150%;
    text-align: center;
}
.left-align{
    text-align: left;
    line-height: 150%;
}
.center-align{
    text-align: center;
}
img{
    display: block;
    width: 100%;
    margin: auto;
}
h6{
    text-align: center;
    margin-bottom: var(--main-space);
    font-weight: 300;
}
h3{
    text-align: center;
    margin-bottom: var(--main-space) ;
    font-size: var(--main-space);
}
.padder-top{
    padding-top: var(--main-space);
}
.padder-btm{
    padding-top: var(--main-space); 
}
/* sezione colori e stili semplici */
.bg-lightblue{
    background-color: var(--lighter-primary-color);
}
.bg-lilla{
    background-color: var(--secondary-color);
}
.bg-white{
    background-color: white;
}
.color-white{
    color: white;
}
.color-purple{
    color: var(--secondary-color);
}
/* stili per l'header */

header{
    background-color: var(--primary-color);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc((var(--main-space)) / 3) 0;
}

header nav a{
    padding: calc((var(--main-space)) / 3) 0;
}

header nav button{
    padding: 6px 14px;
    border: none;
}

.fa-bars{
    color: white;
}

.lg-menu{
    display: none;
}

#spacer{
    margin-top: calc((var(--main-space)) * 3);
}

/* prima section */
.fa-apple{
    margin-right: 8px;
}
#jumboImg{
    position: relative;
    bottom: calc(-1 * var(--main-space));
    left: auto;
    right: auto;
    width: 65%;
    overflow: hidden;
}
.phone-container{
    display: flex;
    justify-content: center;
}
.jumbo-icon{
    color: var(--primary-color);
    font-size: calc((var(--main-space)) * 2);
    margin-bottom: calc((var(--main-space)) / 3);
}
.btn-blue{
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
}

/* seconda section */
.img-container{
    margin: calc((var(--main-space)) * 2) auto 0;
    width: 75%;
}
.img-container h4{
    margin-top: calc((var(--main-space)) * 2);
    font-size: var(--main-space);
}
.develop-card{
    margin: calc((var(--main-space)) * 2) auto 0;
    width: 75%;
}
.develop-card img{
    width: 60%;
    margin: calc((var(--main-space)) / 2) auto;
}
.develop-card h4{
    text-align: center;
}
.circle{
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1 / 1;
    background-color: var(--secondary-color);
    margin: 0 auto var(--main-space);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle a{
    color: black;
    padding: 4px;
}
/* terza section */

.testimonial-img-container{
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: calc(var(--main-space) / 4);
}

.testimonial-img-container img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thin{
    font-weight: 100;
}

h5{
    text-align: center;
    color: white;
}

/* stili cards quarta section*/
.cards{
    margin: 0 calc((var(--main-space)) / 3);
    flex-grow: 1;
}

.number{
    font-size: var(--main-space);
    font-weight: 500;
}

.cards h4{
    margin: calc((var(--main-space)) / 2) 0;
}
.number + p,
.cards p{
    text-align: left;
    color: black;
    font-weight: 100;
}
.cards button{
    letter-spacing: 3px;
}
/* stili quinta section */
.bigger-p{
    font-size: 16px;
    line-height: normal;
}

.lil-btn{
    font-weight: 100;
    font-size: 12px;
    border: none;
    width: 140px;
    padding: 4px 8px;
}

/* stili ultima section */

.last-section{
    padding: 0 calc((var(--main-space)) / 2);
}
.last-section .row{
    justify-content: center;
    padding: var(--main-space) 0;
}

/* stili per il footer */

footer{
    background-color: #333333;
    padding: var(--main-space) 0;
}
/* stili per il responsive */

@media screen and (min-width: 480px) and (max-width: 919.9px){
    .cards{
        margin: 0;
    }
    .col-1_2md{
        flex-basis: 50%;
    }
    .col-1_3{
        flex-basis: 33.3%;
    }
    .col-2_3{
        flex-basis: 66.6%;
    }
    .col-1_5{
        flex-basis: 25%;
    }
    .col-4_5{
        flex-basis: 75%;
    }
    .col.d-flex{
        flex-direction: row;
    }
    .last-section{
        width: 70%;
        margin: auto;
    }
    .phone-container{
        display: block;
    }
    .left-align-lg{
        text-align: left;
    }
    h5{
        text-align: left;
    }
    .no-wrap-md{
        flex-wrap: nowrap
    }
}
@media screen and (min-width: 920px) {
    .main-container{
        max-width: 920px;
        margin: auto;
    }
    .cards{
        margin: 0;
    }
    .col-1_5{
        flex-basis: 15%;
    }
    .col-1_3{
        flex-basis: 33.3%;
    }
    .col-1_3lg{
        flex-basis: 33.3%;
    }
    .col-1_2{
        flex-basis: 50%;
    }
    .col-1_2lg{
        flex-basis: 50%;
    }
    .col-2_3{
        flex-basis: 66.6%;
    }
    .col-2_3lg{
        flex-basis: 66.6%;
    }
    .col-4_5{
        flex-basis: 75%;
    }
    .last-section{
        width: 50%;
        margin: auto;
    }
    #none-lg {
        display: none;
    }
    .lg-menu{
        display: flex;
        list-style: none;
        column-gap: calc((var(--main-space)) / 3);
        align-items: center;
    }
    .lg-menu li a{
        text-decoration: none;
        color: white;
        font-weight: 100;
    }
    .d-flex-lg{
        display: flex;
    }
    .col.d-flex{
        flex-direction: row;
    }
    .img-container h4{
        font-size: 16px;
    }
    .padd-add-rl-lg{
        padding: 0 calc((var(--main-space)) * 4);
    }
    .card-container{
        display: flex;
        align-items: flex-end;
        height: 100%;
        width: 100%;
    }
    .img-container{
        width: 100%;
    }
    .left-align-lg{
        text-align: left;
    }
    h5{
        text-align: left;
    }
}