/* stili centralizzati riutilizzati in più punti della page */

:root{
    --primary-color: #0084fd;
    --lighter-primary-color: #b5ddff;
    --secondary-color: #9792e4;
    --main-space: 32px;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-container{
    padding: 0 calc((var(--main-space)) / 2);
}

section{
    margin-top: var(--main-space);
    margin-bottom: var(--main-space);
}

.row{
    display: flex;
    flex-wrap: wrap;
    border: 1px dashed red;
    margin: 0 calc(-1 * ((var(--main-space)) / 4));
}

.col{
    min-height: 200px;
    flex-basis: 100%;
    padding: calc(var(--main-space) / 4);
}

.col-content{
    padding: calc(var(--main-space) / 3);
    min-height: 200px;
    border: 1px dashed blue;
    border-radius: 25px;
}

.testimonial-img-container{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: calc(var(--main-space) / 4);
}

.testimonial-img-container img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.border-radius{
    border-radius: 25px;
}
.d-flex{
    display: flex;
}

.col.d-flex{
    flex-direction: column;
    align-items: center;
    margin: calc(var(--main-space) / 4) 0;
}

.btn{
    border-radius: 25px;
    border: none;
    padding: 8px 16px;
}

/* sezione colori e stili semplici */
.bg-lightblue{
    background-color: var(--lighter-primary-color);
}
.bg-lilla{
    background-color: var(--secondary-color);
}

/* stili per l'header */

header{
    background-color: var(--primary-color);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc((var(--main-space)) / 3) 0;
}

header nav a{
    padding: calc((var(--main-space)) / 3) 0;
}

.fa-bars{
    color: white;
}

.lg-menu{
    display: none;
}

#spacer{
    margin-top: calc((var(--main-space)) * 3);
}
/* stili cards*/
.cards{
    min-height: 200px;
    margin: 0 calc((var(--main-space)) / 3);
    flex-grow: 1;
}

/* stili ultima section */

.last-section{
    padding: 0 calc((var(--main-space)) / 2);
}
.last-section .row{
    justify-content: center;
    padding: var(--main-space) 0;
}

/* stili per il footer */

footer{
    background-color: #333333;
    padding: var(--main-space) 0;
}
/* stili per il responsive */

@media screen and (min-width: 480px) and (max-width: 919.9px){
    .cards{
        margin: 0;
    }
    .col-1_2md{
        flex-basis: 50%;
    }
    .col-1_3{
        flex-basis: 33.3%;
    }
    .col-2_3{
        flex-basis: 66.6%;
    }
    .col-1_5{
        flex-basis: 20%;
    }
    .col-4_5{
        flex-basis: 80%;
    }
    .col.d-flex{
        flex-direction: row;
    }
    
    .last-section{
        width: 70%;
        margin: auto;
    }
}
@media screen and (min-width: 920px) {
    .main-container{
        max-width: 920px;
        margin: auto;
    }
    .cards{
        margin: 0;
    }
    .col-1_3{
        flex-basis: 33.3%;
    }
    .col-1_3lg{
        flex-basis: 33.3%;
    }
    .col-2_3{
        flex-basis: 66.6%;
    }
    .col-1_2{
        flex-basis: 50%;
    }
    .col-1_5{
        flex-basis: 20%;
    }
    .col-4_5{
        flex-basis: 80%;
    }
    .col.d-flex{
        flex-direction: row;
    }
    .last-section{
        width: 50%;
        margin: auto;
    }
    #none-lg {
        display: none;
    }
    .lg-menu{
        display: flex;
        list-style: none;
        column-gap: calc((var(--main-space)) / 3);
        align-items: center;
    }
    .lg-menu li a{
        text-decoration: none;
        color: white;
        font-weight: 100;
    }
}